<div class="container">
  <div class="row mt-4">
    <div class="col-10 mx-auto">
      <div class="row">
        <div class="col-3 border-right">
          <%= render "users/user_setting_nav", user: @user %>
        </div>
        <div class="col-9 bg-primary">
          <div class="row">
            <div class="col-10 mx-auto">
              <div class="row">
                <div class="col-4 bg-success">ログアウト</div>
                <div class="col-8 bg-info">もう一度ログインする必要があります。</div>
                <%= link_to "ログアウトする", logout_path, method: :delete, class: "submit-btn" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-4 bg-success">退会する</div>
  <div class="col-8 bg-info">空間の退会及びアカウントの削除ができます。</div>
</div>
<div class="row">
  <%= link_to "退会手続きをする", withdrawal_user_path(@user), class: "submit-btn" %>
</div>