// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-img {
    width: 330px;
    height: 330px;
    border-radius: 4px;
    object-fit: cover;
}
.event-show-img {
    width: 350px;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
}
.sidebar_fixed {
    position: sticky;
    top: 60px;
}
.search-btn {
    width: 200px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
}